body {
  margin: 0em;
}

/* SignUp Page */
.signupContainer {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.signupForm {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 18em;
  margin-top: 30em;
  gap: 0.5em;
  border: 0.1em solid black;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.signup {
  height: 3em;
  width: 20em;
  text-align: center;
}

.button {
  background-color: rgb(101, 163, 8);
  border: 0.1em solid green;
  margin-top: 1em;
}

/* Login Page */
.loginContainer {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 25em;
  height: 17em;
  margin-top: 30em;
  gap: 0.5em;
  border: 0.1em solid black;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
}

.login {
  height: 3em;
  width: 20em;
  text-align: center;
}

.signLog {
  height: 3em;
  width: 20em;
  text-align: center;
}

/* Main Page */
.mainContainer {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

/* Nav Bar */
.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1em solid black;
  border-radius: 2em;
  margin: 0.6em 2em;
  background-color: rgba(255, 255, 255, 0.65);
}

/* Logo Moving */
.logo {
  padding-right: 6.25em;
  height: 3.75em;
  transform: scaleX(-1);
  position: relative;
  animation: mymove 5s infinite;
  animation-timing-function: linear;
}

@keyframes mymove {
  from {
    left: 0em;
  }
  to {
    left: 31em;
  }
}

/* Plant Search */
.plantForm {
  display: flex;
  padding: 0.1em;
  gap: 0.6em;
  border: none;
  border-radius: 2em;
}

.plantForm:hover {
  box-shadow: 0em 0em 0.6em green;
}

/* Plant SearchBar */
.plantName {
  font-size: 1.25em;
  padding: 0.3em;
  text-align: center;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.plantName:focus {
  outline: none;
}

/* Plant Search Button */
.findPlant {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  padding-right: 3em;
}

.glass {
  height: 1.5em;
  padding: 0.3em;
  border: none;
  border-radius: 1em;
}

.glass:hover {
  box-shadow: 0em 0em 0.6em gray;
}

/* Profile Name */
.profileName {
  margin-right: 6.25em;
  padding: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  color: green;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 1.25em;
}

.profileName:hover {
  box-shadow: 0em 0em 0.6em green;
}

/* Plant Market */
.plantMarket {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(17.5em, 1fr));
  gap: 2em;
  height: 89%;
  border: 0.1em solid black;
  border-radius: 2em;
  margin: 1.25em 2em;
  background-color: rgba(255, 255, 255, 0.65);
}

/* Plant Card */
.outerCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.6em;
  width: 18em;
  height: 26em;
  margin: 2em;
  background-color: #ffd979;
}

.outerCard:hover {
  box-shadow: 0em 0em 1.2em grey;
  border: none;
}

.plantCard {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
  border-radius: 0.6em;
  width: 16em;
  height: 24em;
  background-color: #a8d59b;
}

/* Plant Title */
.plantCardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15em;
  gap: 1em;
}

.plantCardName {
  margin: 0.75em 0em 0.4em 1.5em;
}

.plantCardButton {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.deleteCard {
  height: 1em;
}

.deleteCard:hover {
  box-shadow: 0em 0em 1.2em red;
  border: none;
  border-radius: 1em;
  padding: 0.2em;
}

/* Plant Image */
.plantCardImg {
  align-self: center;
  height: 8em;
  border: 0.1em solid black;
  width: 13em;
  height: 10em;
}

/* Plant Card Info */
.plantCardTitle {
  margin: 2.5em 0em 0.4em 1.5em;
  font-weight: 900;
}

.plantCardInfo {
  margin-left: 0.6em;
  font-weight: 300;
}
